# Exemplo de arquivo .env para o projeto CERTIFY

# URL de conexão com o MongoDB (substitua usuário, senha e cluster)
DB_URL=mongodb+srv://<USUARIO>:<SENHA>@<CLUSTER>.mongodb.net/?appName=<APP_NAME>

# Nome do banco de dados
DB_NAME=CERTIFY

# Chave secreta para assinatura dos tokens
JWT_SECRET_KEY=insira_sua_secret_key_aqui

# Algoritmo de criptografia
JWT_ALGORITHM=HS256

# Tempo de expiração do token
JWT_EXPIRATION_MINUTES=15

# Tempo de expiração do token de atualização em dias
REFRESH_TOKEN_EXPIRES=30

# Tempo de expiração do token de acesso em minutos
ACCESS_TOKEN_EXPIRES=15
