# Exemplo de arquivo .env para o projeto CERTIFY

# URL de conexão com o MongoDB (substitua usuário, senha e cluster)
DB_URL=mongodb+srv://<USUARIO>:<SENHA>@<CLUSTER>.mongodb.net/?appName=<APP_NAME>

# Nome do banco de dados
DB_NAME=CERTIFY
